html {
  height: 50%;
}
body {
  height: 50%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #36393e;
}

.unity-canvas {
  width: 85%;
  height: auto;
}

video {
  width: 80%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
